{
  "presets": [
    "react-app"
    //兼容IE10、11
    /* [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": { "version": 3 },
        "targets": {
          "ie":10
        },
        "debug": true,
        "include":[
          "@babel/plugin-transform-spread",
          "es.map",
          "es.weak-map"
        ]
      }
    ] */
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ]
}